<div class="report-form" [formGroup]="reportForm.reportForm">
  <p>
    <mat-form-field appearance="fill" class="report-title">
      <mat-label>Title</mat-label>
        <input matInput formControlName="title" required>
    </mat-form-field>
  </p>
  <h2>Filters</h2>
  <ng-container *ngFor="let filterControlGroup of filters().controls; let i = index">
    <div formArrayName="filters"> 
      <div>
        <app-report-value-accessor-filter [formControlName]="i"></app-report-value-accessor-filter>
      </div>
    </div>
  </ng-container>
   <button mat-stroked-button (click)="addFilter($event)">
     <mat-icon>add</mat-icon> 
     Add
    </button>
  <div class="report-buttons">
    <button 
      mat-raised-button 
      class="save-button" [disabled]="!reportForm.reportForm.dirty ||  !reportForm.reportForm.valid"
      (click)="saveReport()">
      Save
    </button>
    <button 
      mat-raised-button 
      class="save-button" [disabled]="!reportForm.reportForm.valid">
      Preview
    </button>
  </div>
</div>